.sadress-container{
    display: flex;
    justify-content: center;
}
.sadress-div{
    background-color: #edf1f4;
    width: 36%;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: -2.5rem;
}
.movetonext{
    background-color: #18355e;
    padding: .5rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-family: "Poppins";
    cursor: pointer;
    margin-top: 1rem;
}