.place-order-cont{
    display: flex;
    justify-content: center;
}
.place-Or{
    background-color: #edf1f4;    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 34%;
    padding: 2rem 1rem;
    border-radius: 4px;
    margin-top: -4.95rem;
}
.backtohome-cont{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.backtohome-cont button{
    background-color: #18355e;
    padding: .8rem 13.8rem;
    font-weight: bold;
    letter-spacing: .6px;
    border: none;
    font-size: 18px;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-family: "Poppins";
    cursor: pointer;
    margin-top: .1rem;
}